<!-- views/partials/head.ejs -->
<title>한동대학교 전력사용량 대시보드</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- jQuery -->
<script src="/javascripts/jquery-3.2.1.min.js"></script>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
<!-- Bootstrap-Theme CSS -->
<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
<!-- Bootstrap javascript -->
<script src="/javascripts/bootstrap.min.js"></script>
<!-- Chart bundle javascript -->
<script src="/javascripts/Chart.bundle.min.js"></script>
<!-- Chart util javascript -->
<script src="/javascripts/chart_util.js"></script>