<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
	</head>
    <body>
		<div style="width: 80%; height: 50%; border-color: blue; margin: 30px">
			<h3>실시간 전력 사용량</h3>
			<img src="/images/한동대학교 로고.jpg" style="width: 200px; height: 70px; position:absolute; right:120px; top:30px;">
			<h5>은혜관 1층</h5>
    		<canvas id="canvas" width="600" height="400"></canvas>
    		<select class="custom-select" style="width:200px">
    			<option selected>장소</option>
    		</select>
    		<select class="custom-select" style="width:200px">
    			<option selected>시간</option>
    		</select>
    		<select class="custom-select" style="width:200px">
    			<option selected>단위</option>
    		</select>
    	</div>
    	<% include ../partials/real_usage %>
</body>
</html>
