<!-- views/partials/head.ejs -->
	<title>가계부</title>
	<meta name="author" content="Won-Sik 21300691">
	<meta charset="utf-8">
	<!-- 인터넷 익스플로러 최신 표준 모드로 렌더링 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 모바일 설정 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon -->
	<link rel="icon" href="/images/favicon.png" type="image/png">
	<!-- jQuery -->
	<script src="/javascripts/jquery-3.2.1.min.js"></script>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<!-- Bootstrap-Theme CSS -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
	<!-- Bootstrap javascript -->
	<script src="/javascripts/bootstrap.min.js"></script>
	<!-- Chart bundle javascript -->
	<script src="/javascripts/Chart.bundle.min.js"></script>
